// Custom style...

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-sans {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */

// Change this breakpoint if you change the breakpoint of the navbar
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.bg-indigo {
    background-color: #6574cd !important;
}

.h-5 {
    height: 1.25rem !important;
}

.w-5 {
    height: 1.25rem !important;
}

.flex-1 {
    flex: 1 1 0%;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}

.bg-light {
    background: #f3f4f6 !important;
}

.card {
    border-radius: 0.475rem;
    border: 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f9fafb;
    border-top: 0;
}

.card-footer:last-child {
    border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
    width: 220px;
}

.small {
    font-size: .875rem !important;
}

/* Colors */

.white{
    color:#fff;
}

.black{
    color:#444;
}

.grey{
    color:#bbb;
}

.red{
    color:#f75353;
}

.green{
    color:#51d466;
}

.lblue{
    color:#32c8de;
}

.blue{
    color:#609cee;
}

.brown{
    color:#c27256;
}

.pink{
    color:#eb76cb;
}

.orange{
    color:#f7a253;
}

.yellow{
    color:#f4e375;
}

.purple{
    color:#cb79e6;
}

.violet{
    color:#9427e1 !important;
}
.br-white{
    background:#fff !important;
}

.br-black{
    background:#444 !important;
}

.br-grey{
    background:#bbb !important;
}

.br-red{
    background:#f75353 !important;
}

.br-green{
    background:#51d466 !important;
}

.br-lblue{
    background:#32c8de !important;
}

.br-blue{
    background:#609cee !important;
}

.br-brown{
    background:#c27256 !important;
}

.br-pink{
    background:#eb76cb !important;
}

.br-orange{
    background:#f7a253 !important;
}

.br-yellow{
    background:#ead54e !important;
}

.br-purple{
    background:#cb79e6 !important;
}

.br-violet{
    background:#9427e1 !important;
}

.br-dpink{
    background:#d33caa !important;
}

.br-dgreen{
    background:#5eb26c !important;
}

.config ul{
    text-align:center;
    margin-top:40px;
    margin-bottom:30px;
}

.config ul  li{
    margin:10px 20px;
    display:inline-block;
    padding:10px 40px 10px 40px;
    position: relative;
    border: 1px solid #ccc;
    height:110px;
    width:250px;
    background:#fafafa;
    border-radius:5px;
}

.config ul  li.active:after, .config ul  li.active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.config ul  li.active:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.config ul  li.active:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #ccc;
    border-width: 17px;
    margin-left: -17px;
}

.config ul  li h5{
    font-size:18px;
}

.config ul  li p{
    line-height:21px;
    font-size:12px;
}

.config ul li:hover{
    background:#fff;
    border: 1px solid #ccc;
}

.config ul li a{
    color:#777;
    text-decoration:none !important;
}

.config .tab-content .tab-pane{
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;
    padding:20px;
}

.config .tab-content .config-one-item{
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;
    -o-animation-delay: 0s;
}

.config .tab-content .config-one-item i{
    font-size:40px;
}

.config .tab-content .config-one-item h2{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 35px;
}

.config .tab-content .config-one-item  h4{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#fff;
    background:#f75353;
    padding:5px 10px 5px 10px;
    border-radius:5px;
}

.config .tab-pane .config-two-item{
    margin-top:15px;
    margin-bottom:15px;
}

.config .tab-pane .config-two-item h4{
    margin:0px;
    color:#777;
    font-size:18px;
    font-weight:bold;
}

.config .tab-pane .config-two-item  p{
    line-height:20px;
    margin-bottom:10px;
    max-width:250px;
    font-size:12px;
}

.config .tab-pane .config-two-item a{
    color:#777;
}

.config .tab-pane .config-two-item i{
    display:inline-block;
    height:35px;
    width:25px;
    border-radius:100px;
    line-height:30px;
    font-size:15px;
}

.config .tab-pane .config-three-item {
    margin-top:40px;
    margin-bottom:40px;
    border:1px solid #ccc;
    padding:7px 7px 7px 7px;
    border-radius:5px;
    max-width:300px;
}

.config .tab-pane .config-three-item img{
    border-radius:2px;
}

.config .tab-pane .config-three-item h4{
    text-align:center;
    margin-top:10px;
    font-size:20px;
}

.config .tab-pane .config-three-item i{
    display:inline-block;
    height:30px;
    width:30px;
    line-height:30px;
    text-align:center;
    border-radius:100px;
    color:#fff;
    font-size:15px;
}

nav .nav-link.active {
    background-color: #056839d1;
    color: white !important;
    border-radius: 10px;
}
/* Absolute Center Spinner */
.loading-page {
    position: fixed;
    z-index: 999999999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading-page:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading-page:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading-page:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

